@(message: String, id: Long, customerForm: play.data.Form[Customer])

@import helper._
@import helper.twitterBootstrap._

@main("Welcome to Dopplegänger") {

	<div class="container">
	
		<div class="jumbotron">
			<h1>@message</h1>
		</div>
		
		<h2>API</h2>
		
		@routes.Customers.list().method <a href="@routes.Customers.list()">@routes.Customers.list()</a> - all customers<br/>
		@routes.Customers.add().method <a href="@routes.Customers.add()">@routes.Customers.add()</a> - create new customer<br/>
		@routes.Customers.get(id).method <a href="@routes.Customers.get(id)">@routes.Customers.get(id)</a> - retrieve specific customer<br/>
		@routes.Customers.update(id).method <a href="@routes.Customers.update(id)">@routes.Customers.update(id)</a> - update existing customer<br/>
		@routes.Customers.delete(id).method <a href="@routes.Customers.delete(id)">@routes.Customers.delete(id)</a> - delete specific customer<br/>
		<br/>
		@routes.Customers.duplicates().method <a href="@routes.Customers.duplicates()">@routes.Customers.duplicates()</a> - retrieve customers who may be duplicates<br/>
		
		
		<hr/>
		
		
		
		 <h2>Add a new customer</h2>
	    
	    @form(routes.Doppelganger.newCustomer()) {
	        
	        @inputText(customerForm("firstName")) 
	        @inputText(customerForm("lastName")) 
	        @inputRadioGroup(customerForm("gender"), options(Gender.options()))
			
	        @inputText(customerForm("age")) 
	        @inputText(customerForm("organization")) 
	        @inputText(customerForm("jobTitle")) 
	        @inputText(customerForm("location"))
	         
	        @select(customerForm("photoType"), options(PhotoType.options()))
	        @inputText(customerForm("photoUrl")) 
	        
	        <input type="submit" value="Create">
	        
	    }
	</div>
}
